#page-crecover{
  background: #0AD465;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-crecover .container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-crecover h1{
  color: #FFFFFF;
}

#page-crecover p{
  color: #FFFFFF;
}

#page-crecover button{
  width: 40%;
  background: #FFFFFF;
  border: none;
  color:#6A6180;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-decoration: none;
}

#page-crecover button:hover{
  background: rgb(233, 231, 225);
}

#page-crecover .login{
  width: 100%;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: black;
}